<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myapiserver.myserverMapper">
    <select id="getUser" resultType="com.example.myapiserver.model.DiaryInfo">
        SELECT id,title,content,email
        FROM DiaryInfo
    </select>

    <insert id="insertDiary" >
        INSERT INTO DiaryInfo
        (title, content, email)
        VALUES (#{title}, #{content}, #{email})
    </insert>
</mapper>